* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', serif;
  font-size: 15px;
  font-weight: 300;
  background-color: #4a515c;
  color: #fff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/assets/images/background.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  font-size: 300%;
  font-weight: 400;
}

h3 {
  font-size: 200%;
  font-weight: 300;
}

h1, h3 {
  color: #326ecf;
}

ul, ol {
  padding-left: 3%;
}

li {
  padding: 1vh;
}

section, header {
  width: 90%;
  margin-left: 3%;
}

section {
  margin-top: 2%;
}

.mood {
  width: 45%;
  display: inline-block;
  text-align: center;
}

.mood-image {
  height: 50vh;
  width: 25vw;
  padding-top: 15px;
  border-radius: 50%;
}