* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  text-align: center;
  background-image: url(/assets/images/bannerbg.png);
}

body {
  background-image: url(/assets/images/background.png);
  font-size: 8pt;
  font-family: Verdana, Tahoma, serif;
}

.movie-title {
  font-weight: bold;
  font-size: 24pt;
  text-shadow: 3px 3px #999;
  text-align: center;
  margin-top: 7vh;
}

.right-panel {
  float: right;
  width: 25%;
}

.starring {
  padding-left: 1vw;
  padding-bottom: 1vh;
  background-color: rgba(110, 171, 96, 0.7);
}

.movie-image {
  text-align: right;
  height: 100%;
  display: flex;
}

.movie-image img {
  width: 100%;
}

.content {
  width: 80vw;
  margin: auto;
  border: 4px solid gray;
  border-radius: 20px;
  overflow: hidden;
}

.clearfix {
  clear: both;
}

.starring dt {
  padding-top: 3vh;
  font-weight: bold;
}

.starring dd {
  padding-left: 4vw;
}

.links {
  list-style: none;
}

.rotten-big {
  background-image: url(/assets/images/rbg.png);

  font-size: 56pt;
  color: red;
}

.rotten-big img {
  float: left;
}

.review {
  width: 47%;
  display: inline-block;
}

.review p:first-child {
  border-radius: 10px;
  border: 3px solid grey;
}

.row {
  margin: 3% 3%;
  width: 100%;
}

.col {
  width: 30%;
  display: inline-block;
  margin-right: 3%;
  height: 100%;
}

.col .review-content {
  border: 2px solid grey;
  border-radius: 16px;
  padding: 5%;
  margin-bottom: 2%;
  background-color: rgba(255, 255, 0, 0.4);
}

.col .reviewer-info img {
  float: left;
}

.col .review-content img {
  float: left;
  margin-right: 1%;
}

.col .review-content p {
  font-weight: bold;
}

.page-counter {
  text-align: center;
  background-color: rgba(110, 171, 96, 0.7);
  padding: 1vh 0;
}

.validation-buttons {
  float: right;
  padding-bottom: 3vh;
}
