* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 11pt;
  margin: 0 10px;
  color: #404040;
  background-image: url(/assets/images/silverware.jpg);
  background-position: center;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: 'Lucida Sans Unicode', Helvetica, Arial, serif;
}

.title-header {
  margin: 5px 10px;
  text-align: center;
  padding: 5px 0;
  border-radius: 2%;
}

.highlighted-background {
  background-color: #F0F0F0;
}

.highlighted-title {
  color: #A4A400;
  text-decoration: underline;
}

.recipe-image-section {
  margin-left: 10px;
  margin-top: 15px;
}

.recipe-image {
  border-radius: 10%;
}

.recipe-content-section {
  margin-left: 10px;
  margin-bottom: 10px;
}

.recipe-content-list {
  list-style: none;
  margin-top: 10px;
}

hr {
  border:none;
	padding-top: 15px;
	border-bottom: 1px solid #1f1209;
	box-shadow: 0 5px 5px -5px #333;

  margin: 0 15px;
}

.ingredients-title-section {
  margin-top: 10px;
  border-radius: 2%;
  padding: 10px 5px;
}

.directions-title-section {
  margin-top: 15px;
  border-radius: 2%;
  padding: 10px 5px;
}

ul, ol {
  padding-left: 2%;
}

.directions-list {
  margin-bottom: 15px;
}

ul {
  list-style-image: url(/assets/images/pie_icon.gif);
}

.user-comments-title-section {
  margin-top: 10px;
  padding: 10px 5px;
  border-radius: 2%;
}

.user-comments-section {
  margin-top: 15px;
}

.user-comments-section .user-comments-list {
  list-style: none;
  margin-left: 5%;
}

.user-comments-section .user-comments-list li {
  margin-bottom: 3%;
  background-color: rgba(255, 255, 0, 0.4);
}

.links-title-section {
  margin-top: 10px;
  padding: 10px 5px;
  border-radius: 2%;
}

.footer {
  float: right;
}

.footer .validators {
  text-align: right;
  margin-bottom: 10px;
}

.links-section a:link {
  color: #A4A400;
}
